.reduce_form{
  border: 1px solid rgb(154, 241, 241);
  padding: 20px;
  background-color: azure;
  border-radius: 5px;
}
.input_group{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 5px;
  column-gap: 20px;
}
.reduce_form .label{
  font-size: 18px;
  color:rgb(170, 161, 161) 
}
.reduce_form input, select {
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgb(154, 241, 241);
  border-radius: 5px;
  outline: none;
}

.input_checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
  color:rgb(170, 161, 161) 
}
.reduce_form .box_check {
  width: auto;
  accent-color: rgb(154, 241, 241);
}

input[type=checkbox] {
	zoom: 1.5;
  margin-top: 12px;
}


.reduce_form input[type=submit]{
  background-color: #fff;
  font-size: 16px;
  color:rgb(170, 161, 161) ;
  font-weight: bold;
}
.radio_group , .input_radio{
  display: flex;
  gap: 5px;
  align-items: center;
  margin-top: 5px;
}
input[type='radio']:checked:after {
  width: 14px;
  height: 14px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: rgb(154, 241, 241);
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}
.reduce_form textarea:focus{
  outline: none;
}
.input_feadback{
  width: 100%;
  border: 1px solid rgb(154, 241, 241);
  margin-top: 10px;
}
input[type='submit']{
  cursor: pointer;
  text-transform: uppercase;
}
.pc-count{
  display: flex;
  gap: 5px;
  align-items: center;
}
.count-btn{
  box-sizing: border-box;
  padding: 5px 15px;
  background-color: rgb(154, 241, 241);
  border: 1px solid rgb(154, 241, 241);
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}